<h3>MatrixMultiplicationComponent</h3>
<div class="matrix-a">
	<MatrixComponent BracketStyle="false"></MatrixComponent>
</div>
<div class="matrix-b">
	<MatrixComponent BracketStyle="false"></MatrixComponent>
</div>

@code {

}
