<h3>(@Matrix.GetLength(0), @Matrix.GetLength(1))-Matrix</h3>
<div class="board" style="--col-dimension:@Matrix.GetLength(1)">
	@{
		for (int i = 0; i < Matrix.GetLength(0); i++)
		{
			for (int j = 0; j < Matrix.GetLength(1); j++)
			{
				string cssClassTag = "element";

				<div class= "@cssClassTag">@Matrix[i,j]</div>
			}
		}
	}
</div>

@code {
	[Parameter]
	public int[,] Matrix { get; set; } = new int[3, 3];
}
