@using Calculator.Classes;
<button class="button-purple" @onclick="Multiply">Result</button>
<button class="button-purple" @onclick="Reset">Reset</button>
<button class="button-purple" @onclick="GenerateRandomInput">Random Input</button>
<div class="matrix-multiplication">
	<div class="child">
		<MatrixComponent Matrix="matrixA" Edit="true" EditDimension="true"></MatrixComponent>
	</div>
	<div class="child">
		<p>*</p>
	</div>
	<div class="child">
		<MatrixComponent Matrix="matrixB" Edit="true" EditDimension="true"></MatrixComponent>
	</div>
	<div class="child">
		<p>=</p>
	</div>
	@{
		if (solved)
		{

			<div class="matrixC">
				<MatrixComponent Matrix="matrixC"></MatrixComponent>
			</div>
		}
	}
</div>

@code {
	private Matrix matrixA = new Matrix(3, 3);
	private Matrix matrixB = new Matrix(3, 3);
	private Matrix matrixC = new Matrix(3, 3);

	private bool solved = false;

	private void Multiply()
	{
		try
		{
			matrixC = matrixA * matrixB;
			solved = true;
		}
		catch (WrongDimesnionException e)
		{
			Console.WriteLine(e.Message);
		}
	}

	private void Reset()
	{
		solved = false;
		matrixA.Reset();
		matrixB.Reset();
	}

	private void GenerateRandomInput()
	{
		matrixA.FillMatrixWithRandomNumbers();
		matrixB.FillMatrixWithRandomNumbers();
	}
}
